.inicio {
    background-image: url('../../assets/puffinicio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: 0;  
    display: flex;
    flex-direction: column;     
}

.mainletras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letrasinicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;

    h4 {
        color: white;
        font-size: 41px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 1px;
        margin-bottom: 1px;
    }  
}

.btn {
    width: 40px;
    height: 30px;
    margin-top: 200px;
    
    button {
        background-color: transparent;
        color: white;
        border: 2px solid white;        
        padding: 10px;
        
        &:hover {
            cursor: pointer;
            transform: scaleX(1.3) scaleY(1.3);
        }

    }
}