.pufiCart_main {
    display: $displayDivs;
    flex-wrap: wrap;  
}

.pufiCart_backg {
    background-image: $capabackagraund, url('../../assets/bolsa.jpg');
    @include divBackground();
}

.pufiCart_text {
    @include divText();
}

@media (max-width: 600px ) {
    .pufiCart_backg, .pufiCart_text {
        width: 100%;
    }    
}