.pufipuff_main {
    display: $displayDivs;
    flex-wrap: wrap;  
}

.pufipuff_backg {
    background-image: $capabackagraund, url('../../assets/puff.jpg');
    @include divBackground();
}

.pufipuff_text {
    @include divText();
}

@media (max-width: 600px ) {
    .pufipuff_backg, .pufipuff_text {
        width: 100%;
    }    
}

