.pufinap_main {
    display: $displayDivs;
    flex-wrap: wrap;  
}

.pufinap_backg {
    background-image: $capabackagraund, url('../../assets/nap.jpg');
    @include divBackground();
}

.pufinap_text {
    @include divText();

    img{
        height: 120px;
    }
}

@media (max-width: 600px ) {
    .pufinap_backg, .pufinap_text {
        width: 100%;
    }    
}