.pufiRain_main {
    display: $displayDivs;
    flex-wrap: wrap;    
}

.pufiRain_btn {
    background-image: $capabackagraund, url('../../assets/sombrilla.jpg');
    @include divBackground();
}

.pufiRain_text {
    @include divText()
}

@media (max-width: 600px ) {
    .pufiRain_btn, .pufiRain_text {
        width: 100%;
    }
    
}