 // archivo para importar


// ui settings

@import './base/settings';
@import './base/index.scss';

// components
@import './Components/Navbar';
@import './Components/Inicio';
@import './Components/PufiPuff';
@import './Components/PufiRain';
@import './Components/PufiCart';
@import './Components/PufiNap';
@import './Components/Information';
@import './Components/Form';
@import './Components/Footer';

// screnns