// variables

$displayDivs: flex;
$capabackagraund: linear-gradient(rgba(5, 7, 12, 0.60), rgba(5, 7, 12, 0.60));
$fontInfo: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$colorFontInfoh5: #1b1b1b9f;
$negritaFooter: bold;

// mixins

@mixin divBackground {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    
    button {
        background-color: transparent;
        color: white;
        border: 2px solid white;        
        padding: 10px;
        
        &:hover {
            cursor: pointer;
            transform: scaleX(1.3) scaleY(1.3);
        }
    }
}

@mixin  divText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;

    img {
        width: 100px;
        height: 100px;
    }  
      
}