// variables

$displayDivs: flex;
$capabackagraund: linear-gradient(rgba(5, 7, 12, 0.60), rgba(5, 7, 12, 0.60));
$fontInfo: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$colorFontInfoh5: #1b1b1b9f;
$negritaFooter: bold;
$boxpadding: border-box;

// mixins

@mixin divBackground {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 300px;
    height: 500px;

    button {
        border: none;
        color: transparent;
        background-color: transparent;        
    }

    &:hover {
        button {
            background-color: transparent;
            color: white;
            border: 2px solid white;        
            padding: 10px; 
            box-sizing: $boxpadding;           
            
            &:hover {
                cursor: pointer;
                transform: scaleX(1.3) scaleY(1.3);
            }
        }
    }    
}

@mixin  divText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 300px;
    height: 500px;

    img {
        width: 100px;
        height: 100px;
    } 
    
    button {
        background-color: transparent;
        border: none;
        color: black;       
        padding: 10px;
        box-sizing: $boxpadding;
        
        &:hover {
            cursor: pointer;
            transform: scaleX(1.3) scaleY(1.3);
        }
    }      
}
